
*{
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}

body {
    background-color: rgb(240, 243, 247);
    margin: 0px;
    padding: 0px;
    color: rgb(244, 237, 237);
   box-sizing: border-box;
    
}

.section1{
    
    background-image: url("images/glenn-carstens-peters-P1qyEf1g0HU-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-position: center;
    margin:0px 0px 0px 0px;
    padding:0px;
   
    align-items: center;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.section2{

    background-image: url("images/pramod-tiwari-S1R68gKE61A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:20px 0px 20px 0px;
    padding:0px;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: 85vh;
    display:grid;
    grid-template-columns: 2fr 3fr;
}
.section3{
    
    background-image: url("images/pexels-pixabay-414144.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    background-position: center;
    margin:20px 0px 20px 0px;
    padding:0px;
    min-width: max-content;
    
    min-height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#navbar {
    display: flex;
    /* border: 2px solid rgb(28, 26, 26); */
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    height :10rem;
    padding: 0.8rem 0.9rem;
    margin: 0px 0px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* box-shadow: -5px -6px 18px 11px #93a9a9; */
    
}
#navbar ul{
    display: flex;
    width: 600px;
    /* position: absolute; */
    /* left: 700px; */
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: center; */
    /* border: 2px solid rgb(28, 26, 26); */
    padding: 1rem;
    margin: 0.1rem 5rem;
    color: #e8e7e5;
}
#navbar img{
    width: 175px;
    position: relative;
    left:-17rem;
    height: 5rem;
    margin: 0px;
    padding: 0px;
    
}



#navbar ul li {
    margin: 2rem;
    color: #dcdbd9;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
#navbar li:hover{
    color:#9fa8f7;

}
a{
    text-decoration: none;

    font-weight: 700;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    font-size: 2rem;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.specialname{
    font-family: "Poppins",sans-serif;
    color: #fb0a39bf;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #303132;
}
.button{
    display: inline-block;
    padding: 1rem 3rem;
    color: crimson;
    
    text-transform: uppercase;
    font-size: 2rem;
    border: 2px solid crimson;
    letter-spacing: .3rem;
    margin-top: 3rem;
    transition: .35s ease-in-out background-color;
    border-radius: 14% 0%;
    background: transparent;
}
.button:hover{
    color:white;
    background-color: crimson;

}
.intro{
    position: relative;
    left:-19.9rem;
    font-size: 2rem;
}
.container1 img{
    margin: 0px 5rem;
    background-repeat: no-repeat;
    background-position: center right;
    width: 40rem;
    position: relative;
    top: 6.2rem;
    right: -13.7rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1.3rem outset rgb(201 68 68);
    border-radius: 3.7rem;
}
.container2{
    margin: 0px 5.3rem;
    font-family: 'Poppins', sans-serif;
    height: 36.7rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 54.4rem;
    /* FONT-WEIGHT: 100; */
    padding: 0px 0px;
    font-size: 2rem;
    /* flex-basis: fit-content; */
    /* max-width: fit-content; */
    /* min-block-size: auto; */
}
 p{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.container1{
    align-self: center;
    justify-self: end;
}
.seperator{
    height:7rem;
    min-width: 100vw;
}
@media screen and (max-width: 740px) {
    .section1{
      width:fit-content;
    }
  }
  #skills
  {   
    background-image: url("images/solid-navy-blue-concrete-textured-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin:20px 0px 20px 0px;
    padding:0px;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: 65vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .box{
    width:30rem;
    height:20rem;
    margin: 4rem;
    background-color:transparent;
    border:2px solid rgb(172, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    
  }
  .box:hover {
    transform: scale(0.88);
    cursor: pointer;
}
  .box img{
    
    height:16 rem;
    width:26rem;
  }
  .container4{
    flex-direction: row;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .box h2{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
  }
  #contact
  {    
    background-image: url("images/pexels-tolga-ahmetler-8184179.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin:20px 0px 20px 0px;
    padding:0px;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: transparent;
    border: 1px inset black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    width: 100rem;
    height: 40rem;
    box-shadow: 4px 4px 11px #01475c;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: crimson;
    font-size: 26px;
  }
  
  
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
    
  }
  .app-form-group.buttons button{
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(154, 151, 151);
  }
  
  .app-form {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(250, 245, 245);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form::placeholder {
    color: rgb(244, 235, 235);
  }
  
  .app-form:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: crimson;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: white;
  }
  .screen .screen-body-item.left img{
    width: 30rem;
    height: 20rem;
    margin: 3rem 0rem;
    filter: brightness(0.5);
    border-radius: 43px;
    /* border: 13px outset #034d7bcf; */
    
  }
  .app-title h3{
    text-align: center;
    margin: 0px;
  }
  
