html{
    font-size:16px;
}
body {
    background-color: rgb(240, 243, 247);
    margin: 0px;
    padding: 0px;
    color: rgb(244, 237, 237);
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1{
    border:2px solid red;
    background-image: url("images/glenn-carstens-peters-P1qyEf1g0HU-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    padding:0px;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 120vh;
    display:flex;
    flex-direction: column;
}
.section2{
    border:2px solid red;
    background-image: url("images/pramod-tiwari-S1R68gKE61A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    padding:0px;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 85vh;
    display:grid;
    grid-template-columns: 2fr 3fr;
}
.section3{
    border:2px solid red;
    background-image: url("images/pexels-pixabay-414144.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    padding:0px;

    min-width: 100vw;
    min-height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    /* border: 2px solid rgb(28, 26, 26); */
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    height :100px;
    padding: 8px 9px;
    margin: 0px 0px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* box-shadow: -5px -6px 18px 11px #93a9a9; */
    
}
#navbar ul{
    display: flex;
    width: 600px;
    /* position: absolute; */
    /* left: 700px; */
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: center; */
    /* border: 2px solid rgb(28, 26, 26); */
    padding: 10px;
    margin: 1px 50px;
    color: #e8e7e5;
}
#navbar img{
    width: 175px;
    /* position: relative; */
    left:-45px;
    height: 50px;
    margin: 0px;
    padding: 0px;
}



#navbar ul li {
    margin: 15px;
    color: #dcdbd9;
}
#navbar li:hover{
    color:#9fa8f7;

}
a{
    text-decoration: none;

    font-weight: 700;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.specialname{
    font-family: "Poppins",sans-serif;
    color: #fb0a39bf;
    text-shadow: 2px 2px 4px #303132;
}
.button{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    
    text-transform: uppercase;
    font-size: 2rem;
    border: 2px solid crimson;
    letter-spacing: .3rem;
    margin-top: 30px;
    transition: .35s ease-in-out background-color;
    border-radius: 14% 0%;
    background: transparent;
}
.button:hover{
    color:white;
    background-color: crimson;

}
.intro{
    position: relative;
    left:-199px;
}
.container1 img{
    margin: 0px 50px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 400px;
    position: relative;
    top: 62px;
    right: -137px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 13px outset rgb(201 68 68);
    border-radius: 37px;
}
.container2{
    margin: 0px 53px;
    font-family: 'Poppins', sans-serif;
    height: 367px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 544px;
    /* FONT-WEIGHT: 100; */
    padding: 0px 0px;
    /* flex-basis: fit-content; */
    /* max-width: fit-content; */
    /* min-block-size: auto; */
}
 p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.container1{
    align-self: center;
    justify-self: end;
}
.seperator{
    height:70px;
    min-width: 100vw;
}
#resume{
    
}
